<section id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
	    <div class="col-sm-6">
		<p>
		    I have over 2 years of experience as a software engineer, and have worked
            at both small startup and large organization. While I'm a good full-stack
            developer, my expertise is in building scalable backend services (API services, Cryptography).
		</p>
		<p>
			I love building things.
			While hard engineering problems are often intrinsically fun to tackle,
			I'm most attracted to solving real customer problems with a business justification.  
		</p>
		<p>
		    <a href="https://www.linkedin.com/in/babrubhan/">See my LinkedIn profile</a> for more career details.
		</p>
	    </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
				<li>
					[update..]
				</li>
				<li>
					[update..]
				</li>
				<li>
					[update..]
				</li>
		    </ul>
	    </div>
        </div>
    </div>
</section>
