<section class="success" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			My personal interests include:
			<ul>
			    <li>
				<b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			    </li>
			    <li>
				<b>Creating things in general.</b> I've always been into woodworking, gardening, software, and hardware; I'm constantly
				seeking out new projects.
			</ul>
		    </p>
		</div>
                <div class="col-sm-6">
		    <h3 style="margin-top:0">Current Job (VTS)</h3>
		    <ul>
			<li>
			    Championed <a href="https://buildingvts.com/on-crafting-engineering-values-at-vts-e2d76152634b">engineering values process</a>
			</li>
			<li>
			    Revised career ladder
			</li>
			<li>
			    Managed front-end team as we migrated from AngularJS to React
			</li>
			<li>
			    Oversaw switch to CircleCI
			</li>
		    </ul>
                    <h3 style="margin-top:0">Outsite Work</h3>
		    <ul>
		    </ul>
		    <h3>Other Things</h3>
		    <ul>
			<li>
			    Built a <a href="https://hackhew.com/2016/07/20/building-a-kayak-pygmy-pinguino-sport/">kayak</a>.
			</li>
		    </ul>
                </div>
            </div>
        </div>
    </section>
