<section class="success" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			My personal interests include:
			<ul>
			    <li>
				<b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			    </li>
			    <li>
				<b>Creating things in general.</b> I've always been into softwares; I'm constantly
				seeking out new projects.
			</ul>
		    </p>
		</div>
                <div class="col-sm-6">
		    <h3 style="margin-top:0">Current Job</h3>
		    <ul>
			<li>
			    Software Engineer [update..]</a>
			</li>
		    </ul>
                    <h3 style="margin-top:0">Outsite Work</h3>
		    <ul>
				<li>
					[update..]
				</li>
		    </ul>
		    <h3>Other Things</h3>
		    <ul>
				<li>
					[update..]
				</li>
		    </ul>
                </div>
            </div>
        </div>
    </section>
